<!-- Sección de Contacto -->
<section id="contacto" class="py-5" style="background-color: rgb(223, 228, 233)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">Contacto</h2>
                <img src="assets/contact.jpg" class="img-fluid" alt="Imagen de ejemplo">
                <p>¡Estamos aquí para ayudarte! Contáctanos si tienes alguna pregunta.</p>
                <ul class="list-unstyled">
                    <li><strong>Dirección:</strong> Calle Ejemplo, Ciudad Ejemplo</li>
                    <li><strong>Email:</strong> infotubellomundo.com</li>
                    <li><strong>Teléfono:</strong> +123 456 7890</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="cont mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje:</label>
                        <textarea class="form-control" id="mensaje" rows="4" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="redesSociales" class="form-label">Redes Sociales:</label>
                        <div>
                            <a href="#" class="me-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
                            <a href="https://wa.me/1234567890" class="me-3"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
                            <a href="mailto:info@tubellomundo.com" class="me-3"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Enviar Mensaje</button>
                </form>
            </div>
            
        </div>
    </div>
</section>

<app-footer data-aos="flip-right"></app-footer>