<div class="container mt-5">
    <div class="row">
        <!-- Producto 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per11.jpg" alt="Nombre del Producto 1">
                <div class="card-body">
                    <h5 class="card-title">CARLTON</h5>
                    <p class="card-text">200 Ml Agua de Tocador, Afrutados</p>
                    <p class="card-text">Precio: $493.3</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>
     
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per0.jpg" alt="Nombre del Producto 12">
                <div class="card-body">
                    <h5 class="card-title">TIFANY & CO</h5>
                    <p class="card-text">100 Ml Especiado Mujer</p>
                    <p class="card-text">Precio: $1,00.0</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per2.jpg" alt="Nombre del Producto 12">
                <div class="card-body">
                    <h5 class="card-title">TIFANY & CO1</h5>
                    <p class="card-text">100Ml Floral</p>
                    <p class="card-text">Precio: $1,14.94</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per7.jpg" alt="Nombre del Producto 12">
                <div class="card-body">
                    <h5 class="card-title">BLUE NIGHT</h5>
                    <p class="card-text">100 Ml Especiado Hombre</p>
                    <p class="card-text">Precio: $822.00</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per8.jpg" alt="Nombre del Producto 12">
                <div class="card-body">
                    <h5 class="card-title">BACCARAT PARIS</h5>
                    <p class="card-text">100 Ml Aroma Amaderado</p>
                    <p class="card-text">Precio: $41.88</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>

        <!-- Producto 12 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/per9.jpg" alt="Nombre del Producto 12" height="355px">
                <div class="card-body">
                    <h5 class="card-title">Armaf Club Intense Man</h5>
                    <p class="card-text">107 Ml Agua tocador </p>
                    <p class="card-text">Precio: $1032.40</p>
                    <p class="card-text">Disponibilidad: En Stock</p>
                    <a class="btn btn-primary">Comprar ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scripts de Bootstrap y jQuery (asegúrate de incluir jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<app-footer data-aos="flip-right"></app-footer>
