<!-- Sección de Quiénes Somos -->
<section id="quienes-somos" class="py-5" style="background-color: rgb(223, 228, 233)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="assets/quienes.jpg" class="img-fluid" alt="Imagen de Quiénes Somos">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Quiénes Somos</h2>
                <p>Contamos con la logística y experiencia precisa para realizar envíos a todo el país con la paquetería de tu preferencia, logrando brindarte la mejor experiencia de compra.</p>
                <p>En nuestra tienda en línea antes de hacer un envío cada perfume pasa por un estricto control de salida, revisando el perfecto estado del perfume, empacandolo correctamente y entregándolo a tiempo en paquetería, son procesos cruciales de nuestra cadena de valor, además, nuestro servicio no termina ahí, nos enfocamos en brindar un servicio post-venta personalizado para atender la puntual entrega tu fragancia y así garantizar la total satisfacción de nuestros clientes.</p>
                <p>Elige el perfume ideal para quien más desees hacer feliz. Contamos con el  servicio de envíos para regalo logrando satisfacer cualquier necesidad en cualquier fecha. Un cumpleaños, día de las madres, día del padre, día del amor y la amistad o navidad, son excelentes fechas para recordarle a ese ser querido lo mucho que significa para ti regalándole un detalle especial.</p>
            </div>
        </div>
    </div>
</section>
<app-footer data-aos="flip-right"></app-footer>